.content{
    display:flex;
    /* float:right; */
    gap:10px;
    margin-left: 1%;
    text-decoration: solid;
}
.item{
    display:contents;
}
#iii,#ii {
    margin-right: 12px;
    float:right;
}

.icons{
    width: 100%;
    /* margin-left: 30rem; */
  float:right;

}